<% provide(:title, "買い物かご") %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>買い物かご</h3>
      <table>
        <tr>
          <th>商品名</th>
          <th>値段</th>
          <th>削除</th>
        </tr>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.display_price %></td>
            <td><%= link_to "×", product_delete_in_baskets_path(product), method: :post, data:{ confirm: "削除しますか?" } %></td>
          </tr>
        <% end %>
      </table>
      <div class="basket_total-amount">合計金額 <%= @total_price %> 円</div>

      <%= form_tag charge_path do %>
        <% @products.each do |p| %>
          <%= hidden_field_tag 'product_ids[]', p.id %>
        <% end %>
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_IHyJ5K6kDda8Gl9Z5RvZYBuc00Js2nfn1x"
          data-amount=<%= @total_price %>
          data-description="payment"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto"
          data-currency="jpy">
        </script>
      <% end %>
    </div>
  </div>
</div>
