<div class="container">
  <div class="float_box">
  <h1>Collection</h1>
    <% @products.each do |product| %>
      <ul>
        <li> <!-- ▼ アイテム -->
          <%= link_to product_path(product), @product do %>
            <img class="card-img-top" src="<%= product.image %>" alt="<%= product.name %>" class="image">
            <p class="name"><%= product.name %></p>
            <p class="price"><%= product.display_price %></p>
          <% end %>
        </li> <!-- ▲ アイテム -->
      </ul>
    <% end %>
  </div>
</div>