<div class="container">
<h1>新規商品の追加</h1>
<%= simple_form_for @product do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.button :submit, "CREATE PRODUCT", class: 'btn-success' %>
<% end %>
</div>