<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
    <%= link_to image_tag('icon.jpg', width:"200", height:"70"), root_path, class:"navbar-brand" %>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-toggle="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<%= link_to "", destroy_admin_session_path, method: :delete, class:"nav-link"%>
				</li>
				<li class="nav-item">
					<%= link_to 'Home', root_path, class:"nav-link" %>
				</li>
				<% if admin_signed_in? %>
					<li class="nav-item">
						<%= link_to "商品登録", new_product_path, class:"nav-link" %>
					</li>
					<li class="nav-item">
						<%= link_to "ログアウト(admin)", destroy_admin_session_path, method: :delete, class:"nav-link"%>
					</li>
					<% elsif user_signed_in? %>
					<li class="nav-item">
						<%= link_to "買い物かご", basket_path, class:"nav-link" %>
					</li>
					<li class="nav-item">
						<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link" %>
					</li>
					<% else %>
					<li class="nav-item">
						<%= link_to "登録", new_user_registration_path, class:"nav-link" %>
					</li>
				<li class="nav-item">
					<%= link_to "ログイン", new_user_session_path, class:"nav-link" %>
				</li>
				<li class="nav-item">
					<%= link_to "ログイン(admin)", new_admin_session_path, class:"nav-link" %>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>